
.gutbcontent-menu-classic{
    content: url('../../resources/icons/menu-classic.svg');
    width: 2em;
    height: 2em;
    background-color: transparent;
}

.gubcontent-menu-classic-2{
    content: url('../../resources/icons/menu-classic-2.svg');
    width: 2em;
    height: 2em;
    background-color: transparent;
}

.gubcontent-menu-classic-3{
    content: url('../../resources/icons/menu-classic-3.svg');
    width: 2em;
    height: 2em;
    background-color: transparent;
}

.gutbcontent-menu-list-circle{
    content: url('../../resources/icons/menu-list-circle.svg');
    width: 2em;
    height: 2em;
    background-color: transparent;
}

.gutbcontent-menu-list-numbered{
    content: url('../../resources/icons/menu-list-numbered.svg');
    width: 2em;
    height: 2em;
    background-color: transparent;
}


.gutbcontent-menu-list-squared{
    content: url('../../resources/icons/menu-list-squared.svg');
    width: 2em;
    height: 2em;
    background-color: transparent;
}


.gutbcontent-close-small{
    content: url('../../resources/icons/close-small.svg');
    width: 2em;
    height: 2em;
    background-color: transparent;
}