
@import 'bases/variables';
@import 'bases/mixins';

div.gutbcontent-wrapper.custom-cta-container{

  // Featured images
  div.gutbcontent-featured-image{
    font-size:16px;
    width: 32em;
    height: 24em;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;

    display:flex;
    flex-direction:column;
    
    
    // title
    h3{
      position: absolute;
      //text-align:center;
      top: 1em; // position at the beginning of the block
      left:1em;
      right:1em;
      padding: 0.25em;
      z-index:11;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    }

    // Call-to-Action button
    div.wp-block-button{
      position: absolute;
      bottom : 1em; // position at the end of the block
      z-index:11;
      //margin: 1em auto; // Fix WP block button always at center
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
      width: 100%;

      display:flex;
      flex-direction:column;
      align-items:center;

      a {
        left: 0; 
        right: 0;         
        //max-width: 12em;
        margin: 1em auto; // Fix WP block button always at center
        //text-decoration:none;
        z-index:12;
      }
    }  

    // Color overlay
    div.cta-image-overlay{
      position:absolute;
      width: inherit;
      height: inherit;
      z-index:10;        
    }
  }//div.gutbcontent-featured-image

  p.custom-cta-description{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}//div.gutbcontent-wrapper.custom-cta-container