/**
*    @Package devsunshine plugin
* * Need to test the code in the actual position before import. (file devsunset.scss)
**/

/*
	Devsunshine plugin mixins
	------------------------------------------------
*/

@mixin animate( $attr, $time) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  /* Source transition :
  * https://css-tricks.com/almanac/properties/t/transition/
  */
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}

@mixin transform($var){
  -webkit-transform: $var;
  -moz-transform:  $var;
  -ms-transform:  $var;
  -o-transform:  $var;
  transform: $var;
}